/* --------------------------------------------------------------------------
    Navigation
   -------------------------------------------------------------------------- */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: var(--color-accent);
  backdrop-filter: blur(10px);
  padding: var(--space-md) 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(90%, 1200px);
  margin-inline: auto;
}

.nav-logo {
  font-family: var(--font-sans);
  font-size: var(--text-xl);
  font-weight: var(--font-weight-heading);
}

.nav-container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(90%, 1200px);
  margin-inline: auto;
}
.nav-logo-footer {
  font-family: var(--font-sans);
  font-size: var(--text-xl);
  font-weight: var(--font-weight-heading);
}

.nav-links {
  font-family: var(--font-sans);
  font-size: var(--text-1xl);
  font-weight: var(--font-weight-body);
  display: flex;
  gap: var(--space-lg);
  list-style: none;
}

.nav-links-footer {
  font-family: var(--font-sans);
  font-size: var(--text-1xl);
  font-weight: var(--font-weight-body);
  display: flex;
  gap: var(--space-lg);
  list-style: none;
}

.nav-links-footer a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.nav-links-footer a:hover {
  opacity: 0.7;
  transform: translateY(-2px);
  color: var(--color-accent2-hover);
}

.nav-links a {
  color: var(--color-text);
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--color-text-muted);
}

/* --------------------------------------------------------------------------
   Mobile Navigation (Floating Bottom Menu)
   -------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .nav {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    transform: none;
  }

  .nav-links {
    position: fixed;
    top: auto;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    /* Styling */
    width: min(90%, 400px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0;
    z-index: 999;

    background: var(--color-accent-hover);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 50px;

    /* Animation */
    animation: slideUpFade 0.8s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  }

  .nav-links li {
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

@keyframes slideUpFade {
  0% {
    transform: translate(-50%, 150%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
}
