/* --------------------------------------------------------------------------
    Navigation
   -------------------------------------------------------------------------- */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(15, 15, 15, 0.9);
  backdrop-filter: blur(10px);
  padding: var(--space-md) 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(90%, 1200px);
  margin-inline: auto;
}

.nav-logo {
  font-family: var(--font-sans);
  font-size: var(--text-xl);
  font-weight: var(--font-weight-heading);
}

.nav-container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(90%, 1200px);
  margin-inline: auto;
}
.nav-logo-footer {
  font-family: var(--font-sans);
  font-size: var(--text-xl);
  font-weight: var(--font-weight-heading);
}

.nav-links {
  font-family: var(--font-sans);
  font-size: var(--text-1xl);
  font-weight: var(--font-weight-body);
  display: flex;
  gap: var(--space-lg);
  list-style: none;
}

.nav-links-footer {
  font-family: var(--font-sans);
  font-size: var(--text-1xl);
  font-weight: var(--font-weight-body);
  display: flex;
  gap: var(--space-lg);
  list-style: none;
}

/* Hover*/
.nav-links-footer a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.nav-links-footer a:hover {
  opacity: 0.7;
  transform: translateY(-2px);
}

.nav-links a {
  color: var(--color-text-muted);
  transition: color 0.3s;
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--color-accent);
}
